* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #ffff;
    font-family: 'Lato', sans-serif;
}

.cabecalho {
    display: flex;
    width: 100vw;
}

.logo {
    width: 10%;
    margin: auto;
}

.link {
    margin: auto;
    color: #917470;
    cursor: pointer;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img, .sobre-nos {
    width: 40%;
}


h2 {
    color: #917470;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.sim {
    color: #917470;
}

.container-info {
    width: 100vw;
    height: 50vh;
    background-color: #917470;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.regras, .lista {
    background-color: #ffff;
    color: #000;
    text-align: center;
    height: 80%;
    width: 30%;
    border-radius: 10px;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
    color: #000;
    background-color: #917470;
    width: 100vw;
}

a {
    color: #000;
    cursor: pointer;
}

@media (max-width: 768px) {

    .cabecalho{
        width: 100%;
        padding: 5px;
        
    }

    img {
        width: 250px;
    }

    .sobre-nos {
        width: 80%;
        margin-left: 10px;
        font-size: 0.8rem;
    }

    .container-info {
        height: 70vh;
    }

    .regras, .lista {
        height: 90%;
    }
}

@media (max-width: 412px) {

    .logo {
        width: 20%;
    }
    .cabecalho, .link {
        font-size: 0.6rem;
    }

    img, .container {
        flex-direction: column;
    }

    p {
        text-align: center;
    }

    .container-info {
        background-color: #000;
        flex-direction: column;
        height: 50vh;
    }

    .regras {
        font-size: 0.6rem;
        width: 50%;
        height: 50%;
    }

    .lista {
        font-size: 0.6rem;
        width: 50%;
        height: 15%;
    }

    footer {
        background-color: #000;
        color: #ffff;
        padding-bottom: 10px;
    }

    a {
        color: #ffff;
    }
}